<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.one10.myapplication">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/diningcode"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Select_main"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".MenuSamSung"></activity>
        <activity android:name=".MenuBoSung"></activity>
        <activity android:name=".MenuImgm"></activity>
        <activity android:name=".MenuJuiMara"></activity>
        <activity android:name=".MenuBukAkLu"></activity>
        <activity android:name=".MenuNomchicken"></activity>
        <activity android:name=".MenuWangdaepo"></activity>
        <activity android:name=".MenuJokyung"></activity>
        <activity android:name=".MenuBaebatgol"></activity>
        <activity android:name=".MenuSohanmari"></activity>
        <activity android:name=".MenuSongjunggalbi"></activity>
        <activity android:name=".MenuBokakgol"></activity>
        <activity android:name=".MenuChuline"></activity>
        <activity android:name=".MenuMattzang"></activity>
        <activity android:name=".MenuGulgaric"></activity>
        <activity android:name=".MenuQuaiLe"></activity>
        <activity android:name=".MenuChungRok"></activity>
        <activity android:name=".MenuHuaGua"></activity>
        <activity android:name=".MenuSongBaek"></activity>
        <activity android:name=".MenuSSamStory"></activity>
        <activity android:name=".MenuSecondStory"></activity>
        <activity android:name=".MenuGrimby"></activity>
        <activity android:name=".MenuKazdon"></activity>
        <activity android:name=".MenuTokyodon"></activity>
        <activity android:name=".SearchSamSung"></activity>
        <activity android:name=".SearchBoSung"></activity>
        <activity android:name=".SearchBukAkLu"></activity>
        <activity android:name=".SearchChungRok"></activity>
        <activity android:name=".SearchHuaGua"></activity>
        <activity android:name=".SearchImgm"></activity>
        <activity android:name=".SearchBaebattgul"></activity>
        <activity android:name=".SearchGGolGarlic"></activity>
        <activity android:name=".SearchMattJJang"></activity>
        <activity android:name=".SearchSohanmari"></activity>
        <activity android:name=".SearchNomchicken"></activity>
        <activity android:name=".SearchSongjalbi"></activity>
        <activity android:name=".SearchJuiMaRa"></activity>
        <activity android:name=".SearchQuaiLe"></activity>
        <activity android:name=".SearchTokyodon"></activity>
        <activity android:name=".SearchKazdong"></activity>
        <activity android:name=".SearchChuline"></activity>
        <activity android:name=".SearchSongBaek"></activity>
        <activity android:name=".SearchBokakjul"></activity>
        <activity android:name=".SearchSSamStory"></activity>
        <activity android:name=".SearchGrimby"></activity>
        <activity android:name=".SearchSecondStory"></activity>
        <activity android:name=".SearchWangdaePo"></activity>
        <activity android:name=".SearchJoKyung"></activity>
        <activity android:name=".Select_rice"></activity>
        <activity android:name=".Select_kor"></activity>
        <activity android:name=".Select_not_rice"></activity>
        <activity android:name=".Select_meat"></activity>
        <activity android:name=".Select_not_kor"></activity>
        <activity android:name=".Select_not_meat"></activity>
        <activity android:name=".Select_china"></activity>
        <activity android:name=".Select_western"></activity>
        <activity android:name=".Select_snack"></activity>
        <activity android:name=".Select_chicken"></activity>
        <activity android:name=".Select_not_chicken"></activity>
        <activity android:name=".Select_soup"></activity>
        <activity android:name=".Select_not_soup"></activity>
        <activity android:name=".SearchMomTouch"></activity>
        <activity android:name=".SearchDeliBus"></activity>
        <activity android:name=".SearchKimGoeul"></activity>
        <activity android:name=".SearchBingSoo"></activity>
        <activity android:name=".SearchBoolNan"></activity>
        <activity android:name=".SearchEunHye"></activity>
        <activity android:name=".SearchHalMae"></activity>
        <activity android:name=".SearchHyunJoo"></activity>
        <activity android:name=".SearchKookminSang"></activity>
        <activity android:name=".SearchLegendNaemBi"></activity>
        <activity android:name=".SearchMatLove"></activity>
        <activity android:name=".SearchSeolAk"></activity>
        <activity android:name=".SearchSinJeon"></activity>
        <activity android:name=".SearchYeopKi"></activity>
        <activity android:name=".MenuBingsoo"></activity>
        <activity android:name=".MenuBoolnan"></activity>
        <activity android:name=".MenuDeliBus"></activity>
        <activity android:name=".MenuEunhye"></activity>
        <activity android:name=".MenuHalmae"></activity>
        <activity android:name=".MenuHyunjoo"></activity>
        <activity android:name=".MenuKimGoeul"></activity>
        <activity android:name=".MenuKookminSang"></activity>
        <activity android:name=".MenuLegendNaembi"></activity>
        <activity android:name=".MenuMatLove"></activity>
        <activity android:name=".MenuSeolak"></activity>
        <activity android:name=".MenuSinjeon"></activity>
        <activity android:name=".MenuYeopki"></activity>
        <activity android:name=".MenuMomTouch"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLl7lTOJOLp-RHwdPRM-_b3GzwHk4fuz8"/>
    </application>

    <uses-feature android:name="android.hardware.Camera2"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <permission
        android:name="com.example.one10.myapplication.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.one10.myapplication.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

</manifest>