<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.one10.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DiningCode"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Select_main"></activity>
        <activity android:name=".SubActivity2"></activity>
        <activity android:name=".Select_rice"></activity>
        <activity android:name=".Select_kor"></activity>
        <activity android:name=".Select_not_rice"></activity>
        <activity android:name=".Select_meat"></activity>
        <activity android:name=".Select_not_kor"></activity>
        <activity android:name=".Select_not_meat"></activity>
        <activity android:name=".Select_china"></activity>
        <activity android:name=".Select_western"></activity>
        <activity android:name=".Select_snack"></activity>
        <activity android:name=".Select_chicken"></activity>
        <activity android:name=".Select_not_chicken"></activity>
        <activity android:name=".Select_soup"></activity>
        <activity android:name=".Select_not_soup"></activity>
    </application>

</manifest>